body{
    background-color: bisque;
    margin: auto;
}

h1{
    font-size: 30px;
    margin-bottom: 0;
    display: block;
}

p{
    font-size: 24px;
    display: block;
}

img{
    display: block;
}

#image{
    max-width: 100%;
    height: auto;
}